@using BusinessLogic.ViewModels

@model List<WorkViewModel>

@{
    ViewData["Title"] = "Works";
}

<div class="text-center">
    <h1 class="display-4">Мои работы</h1>
</div>
<form method="post">
    <div class="text-center">
        <p>
            <a asp-action="Work" asp-route-ToDo="создать">Создать работу</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkPrice)
                        </td>
                        <td>
                            <a class="btn-outline-warning" asp-action="Work" asp-route-id="@item.Id" asp-route-ToDo="изменить">Изменить</a>
                            <a class="btn-outline-danger" asp-action="Work" asp-route-id="@item.Id" asp-route-ToDo="удалить">Удалить</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <br />
    <div class="text-center">
        <h2 class="text-lg-center">Выбор работы</h2>
    </div>
    <p>
        <select id="works" name="works" class="form-control" asp-items="@(new MultiSelectList(ViewBag.Works, "Id", "WorkName"))" multiple></select>
    </p>

    <div class="row text-center">
        <div class="col-12"><input type="submit" value="Увидеть запросы на ремонт, где задействованы выбранные работы" class="btn btn-primary" /></div>
    </div>
</form>
